@import "~@/styles/index";

.icon-edit {
    display: inline-block;
    width: pr(36);
    height: pr(36);
    font-size: pr(36);
    text-align: right;
}

.price-main{
    color: $mainFontColor;
    font-size: $titleFontSize;
    &:before{
        content: '￥';
        font-size: $normalFontSize;
    }
}

.block {
     @include blockMargin;
}
.shop-title {
    width: 100%;
    line-height: $defaultHeight;
    background: $footerBackgroundColor;
    font-size: $titleFontSize;
    color: $importantInfoAndTitleColor;
    span{
        display: inline-block;
        vertical-align: top;
    }
}

/* 商品 */
.item-wrap{
    position: relative;
    display: flex;
    padding: pr(20) 0 pr(20) $normalFontSize;
    min-height: pr(210);
    background: $blockProductColor;
    border-bottom: 1px solid #fff;
    &:last-child{
        border: none;
    }
    .v-single-select{
        flex: 0 0 pr(62);
        margin-top: pr(72);
    }
    .img-box{
        position: relative;
        box-sizing: border-box;
        width: pr(190);
        height: pr(190);
        border: 1px solid $lineColor;
        border-radius: pr(4);
        background: #fff;
        .item-img{
            width: 100%;
            height: 100%;
        }
        .img-mask{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            span{
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 6px;
                color: #fff;
                font-size: $normalFontSize;
            }
        }
    }
    .item-con{
        flex: 1;
        padding: 0 $normalFontSize 0 pr(20);
        .title{
            display: flex;
            font-size: $importantFontSize;
            color: $importantInfoAndTitleColor;
            line-height: pr(34);
            h3{
                flex: 1;
                height: pr(66);
                width: pr(370);
                line-height: pr(34);
                overflow: hidden;
                white-space: normal;
                text-overflow: ellipsis;
                word-wrap: break-word;
                display:-webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            i{
                flex: 0 0 pr(60);
            }

        }
        .label-box{
            margin-top: pr(12);
            height: pr(30);
        }
        .spec{
            width: pr(420);
            height: pr(26);
            line-height: pr(26);
            margin-top: pr(16);
            font-size: $normalFontSize;
            color: $paragraphColor;
        }
        .price-box{
            justify-content: space-between;
            margin-top: pr(16);
            height: pr(24);
            line-height: pr(24);
            .num{
                color: $paragraphColor;
                font-size: $normalFontSize;
                &:before{
                    content: 'x';
                }
            }
        }
    }
    .edit-con{
        .input-number-box{
            width: pr(294);
            height: pr(60);
        }
        .spec-box{
            width: pr(294);
            height: pr(60);
            padding: 0 pr(10);
            line-height: pr(58);
            margin-top: pr(20);
            border: 1px solid $buttonLineColor;
            border-radius: pr(2);
            background: transparent;
            color: $paragraphColor;
            font-size: $normalFontSize;
        }
        .price{
            vertical-align: top;
        }
        .button-finish{
            display: flex;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: pr(96);
            line-height: pr(48);
            border-radius: 0;
            text-align: center;
            justify-content:center;
        }
    }
}

/* 选项 */
.v-list-item{
    line-height: pr(86);
    font-size: $importantFontSize;
    color: $importantInfoAndTitleColor;
    overflow: hidden;
    .part-left{
        flex: 0 0 pr(150);
    }
    .part-right{
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
    .icon {
        line-height: pr(86);
        font-size: $importantFontSize;
        color: $secondaryTextColor;
    }
    .input-box {
        justify-content: flex-start;
        input {
            width: 100%;
            color: $importantInfoAndTitleColor;
        }
    }
}

.bottom-wrap{
    width: 100%;
    height: $headerHeight;
    background: $footerBackgroundColor;
    border-top: 1px solid $lineColor;
}

// 底部按钮
.payButtom {
    width: pr(234);
    height: $headerHeight;
    margin-top: pr(-1);
    line-height: $headerHeight;
    border: none;
    text-align: center;
    border-radius: 0;
}